<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WebAppIdeas</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  <!-- FileStack API -->
<!--  <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->

<!--  <script src="/js/keys.js"></script>-->

  <!-- Custom CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
<!--  <link rel="stylesheet" href="/css/footer.css">-->
<!--  <link rel="stylesheet" href="css/create.css">-->
<!--  <link th:href="@{/css/profile.css}" rel="stylesheet">-->
<!--  <link rel="stylesheet" href="/css/style.css">-->

  <!-- Custom JS -->
  <!--  <script src="/js/script.js"></script>-->
</head>
<body>

</body>
</html>